/* Perspektive: Naturschutz - Sandiges Glass */
[data-perspektive-conservation] {
  --perspektive-farbe: rgba(175, 180, 175, 0.25);
  --perspektive-farbe-2: rgba(170, 175, 170, 0.22);
  --perspektive-farbe-3: rgba(165, 170, 165, 0.20);
  --perspektive-farbe-4: rgba(160, 165, 160, 0.18);
}
