/* PRIMITIVES INDEX - Importiert alle Primitive-Styles */

@import url('./text/text.css');
@import url('./number/number.css');
@import url('./boolean/boolean.css');
@import url('./tag/tag.css');
@import url('./range/range.css');
@import url('./list/list.css');
@import url('./object/object.css');
@import url('./image/image.css');
@import url('./link/link.css');
@import url('./pie/pie.css');
@import url('./bar/bar.css');
@import url('./radar/radar.css');
@import url('./rating/rating.css');
@import url('./progress/progress.css');
@import url('./stats/stats.css');
@import url('./timeline/timeline.css');
@import url('./badge/badge.css');
@import url('./gauge/gauge.css');
@import url('./sparkline/sparkline.css');
@import url('./slopegraph/slopegraph.css');
@import url('./heatmap/heatmap.css');
