/* AMORPH v5 - Alle Styles */

@import './base.css';
@import '../morphs/primitives/index.css';
@import '../features/index.css';
@import './layouts.css';
@import './ansichten.css';
@import './vektorraum.css';
@import '../morphs/compare/compare.css';
@import './pilz-farben.css';

